.featured-blog {
  padding: 70px 20px;
  background: #ffffff;
}

.featured-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.featured-image img{
    width:100%;
    aspect-ratio:16/9;
    object-fit:cover;
    border-radius:20px;
    display:block;
}

.featured-category {
  display: inline-block;
  margin-bottom: 12px;
  color: #36B37E;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .08em;
}

.featured-content h2 {
  font-size: 2.3rem;
  color: #172B4D;
  line-height: 1.2;
  margin-bottom: 20px;
}

.featured-content p {
  color: #55657D;
  line-height: 1.8;
  margin-bottom: 25px;
}

.featured-meta {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  color: #7A879A;
}

.featured-btn {
  background: #0052CC;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
  transition: .3s;
}

.featured-btn:hover {
  background: #003F99;
}

@media (max-width: 900px) {
  .featured-container {
    grid-template-columns: 1fr;
  }

  .featured-content h2 {
    font-size: 1.9rem;
  }
}